.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .twitter-logo {
    width: 35px;
    height: 35px;
    align-self: center;
    opacity: 0.3;
  }
  
  .footer-link {
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height:4em;
  }

  .footer-container {
    background-color:#12181f;
    
  }